<div class="row">
    <div class="col">
        <h3>*ngIf</h3>
        <hr>
        <!-- Card -->
    <div style="padding: 8%;" >
        <div class="card" *ngIf="mostrar">

            <!-- Card image -->
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
            <!-- Card content -->
            <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Autor: {{frase.autor}} </a></h4>
            <!-- Text -->
            <p class="card-text"> 
                {{frase.msn}}
            </p>
            <!-- Button -->
            
        
            </div>
    </div>
    <hr>
    <a href="#" (click)="mostrar = !mostrar" class="btn btn-primary">Show Toggle</a>
  </div>
  <!-- Card -->
    </div>
    <div class="col">
        <h3>*ngFor</h3>
        <hr>

        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">BF/Crush</th> 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ch of characters; let u = index; ">
                  <th scope="row">{{u  + 1}}</th>
                  <td>{{ ch }}</td> 
                </tr>
                 
              </tbody>
            </table>
          </div>
    </div>
</div>